﻿@helper MultipleAnswerHelper(IEnumerable<string> collection, string questionType, string name)
{
    <ol>
        @foreach (var item in collection)
        {
            <li>
                <input name=@name type=@questionType id="@item" value="@item" />
                <label for="@item">@item</label>
            </li>
        }
    </ol>
}

@helper DisplayList(IEnumerable<string> collection)
{
    if (collection != null && collection.Any())
    {
        <ul>

            @foreach (var item in collection)
            {
                <li>@item</li>
            }

        </ul>
    }
}

