﻿@model Task23_Library_MVC_Framework.Models.Article

@{
    ViewBag.Title = "Home";
}

<article class="text-box pt-3">
    <div>
        <h1>@Model.Name</h1>
    </div>
    <div>
        <p>@Model.Text</p>
    </div>
    <div>
        <p>@Model.CreationDate.ToString("dd/MM/yyyy hh:mm")</p>
    </div>
</article>