﻿@using Task23_Library_MVC_Framework.Extensions
@model IQueryable<Task23_Library_MVC_Framework.BLL.DTOs.ArticleDTO>

@{
    ViewBag.Title = "Home";
}

@foreach (var item in Model)
{
    <article class="text-box pt-3">
        <div>
            <h1>@item.Name</h1>
        </div>
        <div>
            <p>@TextExtensions.CutText(item.Text, 200)</p>
            @Html.ActionLink("Read more", "GetFullArticle", new { Id = item.Id })
        </div>
        <div>
            <p>@item.CreationDate.ToString("dd/MM/yyyy hh:mm")</p>
        </div>
    </article>
}