﻿@model IQueryable<Task23_Library_MVC_Framework.BLL.DTOs.CommentDTO>

@{
    ViewBag.Title = "Guest";
}

@using (Html.BeginForm("AddComment", "Guest", FormMethod.Post))
{
    @Html.ValidationSummary(true)
    <p>Author name:</p>
    @Html.TextBox("Name", "", new { @class = "form-control" })
    <p class="alert-danger">@Html.ValidationMessageFor(model => model.Single().Name)</p>
    <p>Text:</p>
    @Html.TextArea("Text", "", new { @class = "form-control" })
    <p class="alert-danger">@Html.ValidationMessageFor(model => model.Single().Text)</p>
    <div class="mt-2">
        <button class="btn btn-primary" type="submit">Submit</button>
    </div>
}

<div class="col-10">
    @foreach (var item in Model)
    {
        <div class="text-box pt-3">
            <div>
                <p>@item.Name</p>
            </div>
            <div>
                <p>@item.Text</p>
            </div>
            <div>
                <p>@item.CreationDate.ToString("dd/MM/yyyy hh:mm")</p>
            </div>
        </div>
    }
</div>